version: '3.8'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/.yarn/cache
      - /app/.yarn/unplugged
    environment:
      - NODE_ENV=development
    tty: true
    stdin_open: true